html{
	height: 100%;
}

body {
	min-height: 100%;
	overflow: hidden;
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	background-color:#262a33;
	margin: 0;
	padding: 30px;
	color: rgb(227, 226, 222);
}

section{
	margin-top:15px;
	margin-bottom: 15px; 
	display: flex;
	justify-content: center;
}